<!doctype html>
<html lang="en" ng-app="store">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

  <title>Hello, world!</title>
</head>

<body class="container" ng-controller="StoreController as store">

  <div class="text-center">
    <h1>Flatlander Crafted Gems</h1>
    <h1>- an Angular store -</h1>
  </div>

  <ul class="list-group text-center mt-5">
    <li class="list-group-item card col-12" ng-repeat="product in store.products">
      <h3 class="text-left">
        {{product.name}}
        <em class="float-right">{{product.price | currency}}</em>
        <div class="text-center mt-3">
          <img ng-src="{{product.images[0].full}}" height="100" width="100" />
        </div>
      </h3>

      <section ng-controller="PanelController as panel">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="#" ng-click="panel.selectTab(1)" ng-class="{active: panel.isSelected(1)}">Description</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" ng-click="panel.selectTab(2)" ng-class="{active: panel.isSelected(2)}">Specifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" ng-click="panel.selectTab(3)" ng-class="{active: panel.isSelected(3)}">Reviews</a>
          </li>
        </ul>

        <div class="mt-2">
          <div class="card" ng-show="panel.isSelected(1)">
            <h4>Description</h4>
            <p>{{product.description}}</p>
          </div>

          <div class="card" ng-show="panel.isSelected(2)">
            <h4>Specifications</h4>
            <blockquote>Not yet</blockquote>
          </div>

          <div class="card" ng-show="panel.isSelected(3)">
            <h4>Reviews</h4>

            <blockquote class="blockquote mb-0 card-body" ng-repeat="review in product.reviews">
              <div>
                <img ng-src="{{i <= review.stars ? 'star_full.png' : 'star_empty.png'}}" height="40" width="40" class="ml-1 mb-2" ng-repeat="i in [1,2,3,4,5]">
              </div>
              {{review.body}}
              <footer class="blockquote-footer">
                <small class="text-muted">
                  <cite>by: {{review.author}}</cite>
                </small>
              </footer>
            </blockquote>

            <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(product)">
              <p>Submit a Review</p>
              <div class="container form-group">
                <select class="form-control" ng-model="reviewCtrl.review.stars">
                  <option value="1">1 stars</option>
                  <option value="2">2 stars</option>
                  <option value="3">3 stars</option>
                  <option value="4">4 stars</option>
                  <option value="5">5 stars</option>
                </select>

                <textarea class="form-control mt-2" ng-model="reviewCtrl.review.body" cols="30" rows="3"></textarea>
                <label class="float-left">by:</label>
                <input class="form-control" ng-model="reviewCtrl.review.author" type="email">
                <input class="btn btn-outline-primary mt-2 mb-2 float-right" type="submit" value="Submit">
              </div>
            </form>
          </div>
        </div>
      </section>
    </li>
  </ul>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="./angular.min.js"></script>
  <script src="app.js"></script>
</body>

</html>