<section>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#" ng-click="panel.selectTab(1)" ng-class="{active: panel.isSelected(1)}">Description</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" ng-click="panel.selectTab(2)" ng-class="{active: panel.isSelected(2)}">Specifications</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" ng-click="panel.selectTab(3)" ng-class="{active: panel.isSelected(3)}">Reviews</a>
    </li>
  </ul>

  <div class="mt-2">
    <div class="card" ng-show="panel.isSelected(1)">
      <h4>Description</h4>
      <p>{{product.description}}</p>
    </div>

    <div class="card" ng-show="panel.isSelected(2)">
      <h4>Specifications</h4>
      <blockquote>Not yet</blockquote>
    </div>

    <div class="card" ng-show="panel.isSelected(3)">
      <h4>Reviews</h4>

      <blockquote class="blockquote mb-0 card-body" ng-repeat="review in product.reviews">
        <div>
          <img ng-src="{{i <= review.stars ? 'star_full.png' : 'star_empty.png'}}" height="40" width="40" class="ml-1 mb-2" ng-repeat="i in [1,2,3,4,5]">
        </div>
        {{review.body}}
        <footer class="blockquote-footer">
          <small class="text-muted">
            <cite>by: {{review.author}} on {{review.createdOn | date}}</cite>
          </small>
        </footer>
      </blockquote>

      <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)"
        novalidate>
        <p>Submit a Review</p>
        <div class="container form-group">
          <select class="form-control" ng-model="reviewCtrl.review.stars" required>
            <option value="1">1 stars</option>
            <option value="2">2 stars</option>
            <option value="3">3 stars</option>
            <option value="4">4 stars</option>
            <option value="5">5 stars</option>
          </select>

          <textarea name="body" placeholder="Write a short review of the product..." class="form-control mt-2" ng-model="reviewCtrl.review.body"
            cols="30" rows="3" required></textarea>
          <label class="float-left">by:</label>
          <input id="author" name="author" placeholder="jimyDean@example.org" class="form-control" ng-model="reviewCtrl.review.author"
            type="email" ng-class="{'border-success': reviewForm.author.$valid, 'border-danger': reviewForm.author.$invalid && reviewForm.author.$dirty}"
            required>
          <input class="btn btn-outline-primary mt-2 mb-2 float-right" type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>
</section>