<section>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#" ng-click="panel.selectTab(1)" ng-class="{active: panel.isSelected(1)}">Description</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" ng-click="panel.selectTab(2)" ng-class="{active: panel.isSelected(2)}">Specifications</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" ng-click="panel.selectTab(3)" ng-class="{active: panel.isSelected(3)}">Reviews</a>
    </li>
  </ul>

  <div class="mt-2">

    <product-description class="card" ng-show="panel.isSelected(1)"></product-description>

    <product-specs class="card" ng-show="panel.isSelected(2)"></product-specs>

    <product-reviews class="card" ng-show="panel.isSelected(3)"></product-reviews>

  </div>
</section>